ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    
  }
  .container{
    background-color: #e7e7e7;
  }
  body{
    padding: 50px 200px; 
    background-color: rgb(114, 115, 163);
  }

  li {
    float: left;
  }
  
.heading{
    padding:30px;
}

  li button {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 209px;
    text-decoration: none;
    border: 0px;
  }
  
  li button:hover:not(.active) {
    background-color: #ddd;
  }
  
  li button.active {
    color: white;
    background-color: #1264b1;
  }